<style>
    .carousel-text    {
        color: rgb(211, 196, 161);
        margin-top: 15px;
        font-size: 12px;
    }
    #carouselExampleCaptions {
      max-width: 700px;
      height:450px;
      margin: auto;
    }
    #carouselExampleCaptions .carousel-item img {
      height: 100%;
      width: auto;
      object-fit:contain;
      margin: auto;
      display: block;
    }
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 16 16'%3E%3Cpath d='M11 1L3 8l8 7'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 16 16'%3E%3Cpath d='M5 1l8 7-8 7'/%3E%3C/svg%3E");
}

</style>

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-inner">

    <div class="carousel-item active text-center">
      <img src="static/helpdesk/AD/one.png" class="d-block w-100" alt="Organizational Unit setup">
      <div class="carousel-text">
        <h5>Creating accounts</h5>
        <p>Both Service and User accounts.</p>
      </div>
    </div>

    <div class="carousel-item text-center">
      <img src="static/helpdesk/AD/three(admin&user).png" class="d-block w-75" alt="">
      <div class="carousel-text">
        <h5>Understanding permissions</h5>
        <p>And managing Groups.</p>
      </div>
    </div>

    <div class="carousel-item text-center">
      <img src="static/helpdesk/AD/four(logonHours).png" class="d-block w-100" alt="">
      <div class="carousel-text">
        <h5>Configuring user policies</h5>
        <p>Setting Logon hours for individual users.</p>
      </div>
    </div>

        <div class="carousel-item text-center">
      <img src="static/helpdesk/AD/notesForAD.png" class="d-block w-75" alt="" style="max-width: 350px;">
      <div class="carousel-text">
        <h5>My setup notes</h5>
        <p>Usually I take notes in Obsidian so that I could refer to them later, if I need to set an AD or other service again.</p>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
